<div class="title">Thông tin vé</div>
<div class="box">
    <div class="field">{{ reservation.showtime.movie.title }}</div>
    <div class="field">{{ reservation.showtime.room.branch.name }}</div>
    <div class="field">{{ reservation.showtime.room.type.name + ' | ' + dayjs(reservation.showtime.startTime).format('HH:mm, DD/MM/YYYY') }}</div>
    <div class="field">
        <div>
            <span>Ghế: </span>
            <span class="note">{{ seatString }}</span>
        </div>
        <div>{{ reservation.ticketPrice + ' đồng' }}</div>
    </div>
</div>
<div
    *ngIf="reservation.items && reservation.items.length !== 0"
    class="box"
>
    <div
        *ngFor="let item of reservation.items"
        class="field"
    >
        <div>
            <span class="note">{{ 'x' + item.quantity + ' ' }}</span>
            <span>{{ item.product.name }}</span>
        </div>
        <div>{{ (item.quantity * item.product.price) + 'đồng' }}</div>
    </div>
</div>
<div class="total">
    <div class="field">
        <div>Tổng</div>
        <div>{{ totalPrice + 'đồng' }}</div>
    </div>
</div>