.title {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px dashed grey;
}

.box {
    padding: 20px 0;
    border-bottom: 1px dashed grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.note {
    color: aqua;
}

.total {
    padding-top: 20px;
}