<div class="section">
    <div class="container">
        <div class="wrapper">
            <div *ngIf="movie.ratingCount" class="rating">
                <div class="stars">
                    <p>
                        <span class="avg-rating">{{ movie.averageRating | number:'1.1-1' }}</span>
                        trên 5
                    </p>
                    <i *ngFor="let state of starStates" [ngClass]="getStarClass(state)"></i>
                </div>
                <span class="rating-count">{{ movie.ratingCount + ' đánh giá' }}</span>
            </div>
            <div class="not-rating" *ngIf="!movie.ratingCount">Chưa có đánh giá.</div>
            <a class="book-button" [routerLink]="['/movies', movie.id, 'showtimes']">Mua vé</a>
        </div>
    </div>
</div>