<div class="promo-slider-section">
    <div class="container">
        <app-slideshow 
            [visibleCount]="1" 
            [widthPercent]="80" 
            [hasPager]="true" 
            [hasNavigationButtons]="true"
        >
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/u/culture_2.png"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_11__6.jpg"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980wx448h_1_20.jpg"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv_980x448_1_.png"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/m/i/mi8_rolling_banner_20-2905.jpg"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/o/copy_of_lck25r_poster_980x448.jpg"/>
            </app-slide-item>
            <app-slide-item>
                <img class="img" src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/o/n/onl_rolling.png"/>
            </app-slide-item>
        </app-slideshow>
    </div>
</div>