.profile-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
    
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/assets/images/banners/banner05.jpg');
        background-position: center center;
        background-size: cover;
        content: '';
        opacity: 0.3;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 18, 50, 0.4);
    }
}

.container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    // display: flex;
    // justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.navigator {
    width: 30%;
}

.content {
    width: calc(70% - 30px);
}

.title {
    font-size: 30px;
    color: aqua;
    font-weight: 700;
    display: block;
    padding-bottom: 10px;
}

.options {
    list-style: none;
    padding: 0;
}

.option {
    height: 40px;
    padding-left: 25px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: gray;
    border-radius: 8px;
    position: relative;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        20px 50%
    );

    & >span {
        width: 100%;
        height: 100%;
        align-content: center;
        cursor: pointer;
        display: block;
    }

    &:hover {
        background-color: aqua;
    }

    &.active {
        background: linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    }

}