<section class="banner-section">
    <div class="banner-background"></div>
    <div class="container">
        <div class="banner-content">
            <span class="title">
                <span class="title-prefix">đặt vé </span>
                <span class="title-options">
                    <b class="title-option op-1">xem phim </b>
                    <b class="title-option op-2">sự kiện </b>
                </span>
                <span class="title-suffix">ngay hôm nay</span>
            </span>
            <div class="title-description">
                <p class="description-line">Đặt vé nhanh chóng - bảo mật tuyệt đối - ưu đãi siêu hấp dẫn</p>
                <p class="description-line">Sẵn sàng đắm chìm trong thế giới điện ảnh đỉnh cao!</p>
            </div>
        </div>
    </div>
</section>