.count-down-section {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 800;
    background-color: #032055;
    border-top: 1px solid #17305f;
    border-bottom: 1px solid #17305f;
}