.wrapper {
    position: relative;
    display: block;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.track {
    position: relative;
    display: flex;
    transition: none;
    color: white;
    margin-top: 0;
    margin-bottom: 0;

    &.animate {
        transition: transform 0.2s ease;
    }
}

.slide {
    flex: 0 0 auto;
    display: block;
    overflow: hidden;
    height: auto;
}

.button-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    max-width: 70px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    > button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        cursor: pointer;
        > i {
            color: white;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
        }
    }

    &:active {
        > button {
            transform: scale(1.3);
        }
    }

    &.next {
        right: 0;
        &:hover {
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #001232 100%);
        }
    }

    &.prev {
        left: 0;
        &:hover {
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #001232 100%);
        }
    }
}

.pager {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    padding: 0 20%;

    .dot {
        max-width: 15px;
        width: 10%;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        border-radius: 50%;
        border: white 1px solid;

        &.active {
            background: linear-gradient(to right, aqua, pink);
        }
    }
}