<div class="footer-section">
    <div class="support">
        <div class="support-container">
            <div class="support-wrapper">
                <h5 class="support-title">CẦN TRỢ GIÚP?</h5>
                <h3 class="support-heading">MÔ TẢ VẤN ĐỀ BẠN GẶP PHẢI</h3>
                <div class="support-form">
                    <input class="support-input" type="text" placeholder="Ví dụ: Tôi không đăng nhập được...">
                    <a class="support-button">Trợ giúp ngay</a>
                </div>
                <p class="support-note">Chúng tôi sẽ hướng dẫn bạn giải quyết vấn đề ngay lập tức.</p>
            </div>
        </div>
    </div>
    <div class="policy">
        <div class="social-network">
            <div class="logo">
                <a [routerLink]="['/']">
                    <img src="/assets/images/logos/cgvlogo.png" alt="logo">
                </a>
            </div>
            <ul class="social-icons">
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="content-policy">
            <div class="cgv-vn">
                <h3>CGV Việt Nam</h3>
                <ul>
                    <li><a [routerLink]="['/']">Giới thiệu</a></li>
                    <li><a [routerLink]="['/']">Tiện ích Online</a></li>
                    <li><a [routerLink]="['/']">Thẻ quà tặng</a></li>
                    <li><a [routerLink]="['/']">Tuyển dụng</a></li>
                    <li><a [routerLink]="['/']">Liện hệ quảng cáo CGV</a></li>
                    <li><a [routerLink]="['/']">Dành cho đối tác</a></li>
                </ul>
            </div>
            <div class="cgv-policy">
                <h3>Điều khoản sử dụng</h3>
                <ul>
                    <li><a [routerLink]="['/']">Điều khoản chung</a></li>
                    <li><a [routerLink]="['/']">Điều khoản giao dịch</a></li>
                    <li><a [routerLink]="['/']">Chính sách thanh toán</a></li>
                    <li><a [routerLink]="['/']">Chính sách bảo mật</a></li>
                    <li><a [routerLink]="['/']">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="customer-cgv">
                <h3>Chăm sóc khách hàng</h3>
                <p>
                    Hotline: 1900 6017
                    <br>
                    GIờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)
                    <br>
                    Email hỗ trợ: 
                    <a href="mailto:hoidap@cgv.vn">hoidap&#64;cgv.vn</a>
                </p>
            </div>
        </div>
    </div>
    <div class="address">
        <h3>Công ty TNHH CJ CGV VIỆT NAM</h3>
        <p>
            Giấy Chứng nhận đăng ký doanh nghiệp: 0303675393 đăng ký lần đầu ngày 31/7/2008, được cấp bởi Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh
        </p>
        <p>
            Địa chỉ: Lầu 2, số 7/28, Đường Thành Thái, Phường 14, Quận 10, Thành phố Hồ Chí Minh, Việt Nam
        </p>
        <p>
            Đường dây nóng (Hotline): 1900 6017
        </p>
        <p>
            COPYRIGHT 2017 CJ CGV VIETNAM CO., LTD. ALL RIGHTS RESERVED
        </p>
    </div>
</div>